examples/n8n-workflow-example.json
{
  "name": "Ticketz Opt-in Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticketz",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ticketz-webhook"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": [
                {
                  "id": "event-type",
                  "leftValue": "={{ $json.event }}",
                  "rightValue": "ticket.created",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "outputs": [
                {
                  "id": "ticket-created",
                  "value": "ticket.created"
                }
              ]
            },
            {
              "conditions": [
                {
                  "id": "event-type",
                  "leftValue": "={{ $json.event }}",
                  "rightValue": "message.received",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "outputs": [
                {
                  "id": "message-received",
                  "value": "message.received"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "switch-node",
      "name": "Event Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/backend/integrations/tickets/{{ $json.data.id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-integration-token",
              "value": "ticketz-integration-2024"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "in_progress"
            }
          ]
        },
        "options": {}
      },
      "id": "update-ticket-status",
      "name": "Update Ticket Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🎫 Novo ticket criado!\n\nID: {{ $json.data.id }}\nStatus: {{ $json.data.status }}\nMensagem: {{ $json.data.lastMessage }}\n\nAcesse: http://localhost:3000"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/backend/integrations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-integration-token",
              "value": "ticketz-integration-2024"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticketId",
              "value": "={{ $json.data.ticketId }}"
            },
            {
              "name": "body",
              "value": "Mensagem processada automaticamente pelo n8n"
            },
            {
              "name": "fromMe",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "auto-reply",
      "name": "Auto Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Event Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Router": {
      "main": [
        [
          {
            "node": "Update Ticket Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
